/* =======================================================
*
* 	VARIABLES
*
* ======================================================= */

$primary: #3056a5;
$primary-hover: #25a8e0;

$text-color: #666;
$heading-color: #333;